.question {
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 24px;

    & + .question {
        margin-top: 8px;
    }

    p {
        color: #29292e;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        button {
            border: 0;
            background: transparent;
            cursor: pointer;

            &.like-button {
                display: flex;
                align-items: center;
                gap: 8px;
                color: #737380;

                svg {
                    width: 20px;
                }
            }

            &.liked {
                color: #4FBDBA;

                svg path {
                    stroke: #4FBDBA;
                }
            }
        }
    }

    .user-info {
        display: flex;
        align-items: center;

        img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }

        span {
          margin-left: 10px;
          font-size: 14px;
          color: #737380;
        }
    }
}